 <link property="stylesheet" rel="stylesheet" href="/assets/bootstrap/css/footer-style.css"> 
	
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
		
			
        <div style="text-align:center">
  COPYRIGHT ©2016
 
</div>
		
	</nav>
	
	