<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/bootstrap/css/tabbedmenu-style-before-login.css">

</head>

<body>
	<% include ../partials/tabbed-menu-before-login %>
	<div id="mastercontainer">
		<div class="container-fluid">
	
		<div class="container-custom">	
				<div class="col-md-6">
				</div>
				<div class="col-md-4">
					<h2>Forgot Password</h2>
					<p>Please Enter your email to reset your password</p>    
                    <form id="formFP" action="/forgotPassword" method="post" class="login-form">
									<div class="form-group">
										<label class="sr-only" for="emailFP">Email ID</label>
										<input type="email" name="emailFP" placeholder="Email ID" class="form-control" id="emailFP">
									</div>
									

									<button type="submit" class="btn btn-primary">Proceed</button>
					</form>
					<br>	
					
					<% if (error2) { %>
					<div id="server-error-message" class="alert alert-danger" role="alert">
						<%= error2 %>
					</div>
					<% } %>
					<div class="alert alert-danger calculator-alerts hidden" id="error-messageFP"></div>

		        </div>
			</div>
		</div>
	</div>

<% include ../partials/forgotPasswordscripts %>
<% include ../partials/footer %>
</body>

</html>