<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/bootstrap/css/tabbedmenu-style-before-login.css">

</head>

<body>
	<% include ../partials/tabbed-menu-before-login %>
	<div id="mastercontainer">
		<div class="container-fluid">
			<div class="container-custom">	
				<div class="col-md-6">
				</div>
				<div class="col-md-4">
					<h2>Forgot Password</h2>
					<p>Please Enter Answer to your Security Question</p>  
					<form id="formFP2" action="/forgotPasswordPart2" method="post" class="login-form">
									<div class="form-group">
										<label class="sr-only" for="answer"></label>
                                        Ques: <%= user.profile.secQues %>
 										<input type="text" name="answer" placeholder="Security Ques Answer" class="form-control" id="answer" />
                                        <input type="hidden" name="email" value="<%= user.email %>" />
									</div>
									

									<button type="submit" class="btn btn-primary">Next</button>
					</form>
					<br>

					
					<% if (error2) { %>
					<div id="server-error-message" class="alert alert-danger" role="alert">
						<%= error2 %>
					</div>
					<% } %>
					<div class="alert alert-danger calculator-alerts hidden" id="error-messageFP2"></div>

				</div>
			</div>
		</div>
	</div>
           
<% include ../partials/forgotPassword2scripts %>
<% include ../partials/footer %>
</body>

</html>