<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/bootstrap/css/tabbedmenu-style-before-login.css">

</head>

<body>
	<% include ../partials/tabbed-menu-before-login %>
	<div id="mastercontainer">
		<div class="container-fluid">
			<div class="container-custom">	
				<div class="col-md-6">
				</div>
				<div class="col-md-4">
				
					<% if (!success) { %>
					<h2>Forgot Password</h2>
					<p>Enter New Passwords</p>
						<form id="formFP3" action="/forgotPasswordPart3" method="post" class="login-form">
							<div class="form-group">
								<label class="sr-only" for="newpassword"></label>
								
								<input type="password" name="newpassword" placeholder="Enter New Password" class="form-control" id="newpassword" value="" />
                                <label class="sr-only" for="confirmnewpassword"></label>

								<input type="password" name="confirmnewpassword" placeholder="Confirm New Password" class="form-control" id="confirmnewpassword" value="" />
								<input type="hidden" name="email" value="<%= user.email %>" />
							</div>
							

							<button type="submit" class="btn btn-primary">Reset Password</button>
						</form>
					<% } %>
						<br>

						
						<% if (error2) { %>
						<div id="server-error-message" class="alert alert-danger" role="alert">
							<%= error2 %>
						</div>
						<% } %>
						<% if (success) { %>
						<div class="alert alert-success" role="alert">
							<%= success %>
						</div>
						<% } %>
						
						<div class="alert alert-danger calculator-alerts hidden" id="error-messageFP3"></div>

				</div>
			</div>
		</div>
	</div>
<% include ../partials/forgotPassword3scripts %>
<% include ../partials/footer %>
</body>

</html>