<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
	<% include ../partials/settle-depedencies %>
    
</head>

<body>
	<% include ../partials/tabbed-menu %>
	<div id="mastercontainer">
		<div class="container-fluid">

        <main>
			<h2>Settle your Balance</h2>
				<form id="formSettle" action="/settleBill" method="POST" class="form-horizontal">
					<hr />
					<h3>Please select the contact and enter the amount to pay</h3>
					<br/>
					
						<div class="form-group">
                            <label for="settlewith" class="control-label col-md-2">Repay To</label>
                            <div class="col-md-6 settle-list">
                                <% if (myUserObj.contact) { %>
									<select id="settlewith" name="settlewith">
									<% for(var i=0; i < myUserObj.contact.length; i++) { %>
										<option value="<%= myUserObj.contact[i]._id %>"> <%= myUserObj.contact[i].name %> </option>
									<% } %>
									</select>
								<% } %>
                            </div>
							<div class="col-md-4"></div>
                        </div>
						
						
                        <div class="form-group">
                            <label for="amountSettle" class="control-label col-md-2">Amount Paid Back</label>
                            <div class="col-md-6">
                                <input type="number" step="0.001" name="amountSettle" class="form-control" id="amountSettle" min="0.001"/>
                            </div>
							<div class="col-md-4"></div>
                        </div>
												
						<div class="form-group">
							<div class="col-sm-offset-2 col-md-5">
								<button type="submit" class="btn btn-primary">Settle Balance</button>
							</div>
						</div>

                </form>
				
				<div class="alert alert-danger calculator-alerts hidden" id="error-message"></div> 
				<% if (success) { %>
					<div id="server-success-message" class="alert alert-success" role="alert">
						<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
						<span class="sr-only">Success:</span>
						<%= success %>
					</div>
				<% } %>
				<% if (error) { %>
					<div id="server-error-message" class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						<%= error %>
					</div>
				<% } %>
        </main>
		</div>
	</div>
	
<% include ../partials/settlescripts %>
<% include ../partials/footer %>

</body>

</html>